## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.log

## Test coverage
coverage/
coveragereport/
TestResults/

## IDE
.vs/
.idea/
*.swp

## OS
Thumbs.db
.DS_Store

## Secrets (do not commit)
appsettings.Development.json
*.pfx

## Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
